# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [76]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [20]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [32]:
HP1 = df["HP"]
HP1

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [8]:
df["HP"].mean()

69.25875

In [48]:
dragon = df[df["Type 1"] == "Dragon"]["HP"]
grass = df[df["Type 1"] == "Grass"]["HP"]

0       45
1       60
2       80
3       80
48      45
      ...
718     56
719     61
720     88
740     66
741    123
Name: HP, Length: 70, dtype: int64

In [1]:
#HO: Dragon HP on average > Grass HP 
#H1: Dragon HP on average <= Grass HP 

#sig = .05

In [58]:
st.ttest_ind(dragon, grass, alternative='greater')

C:\Users\Usuario\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:6951: RuntimeWarning: invalid value encountered in scalar divide
  svar = ((n1 - 1) * v1 + (n2 - 1) * v2) / df

TtestResult(statistic=nan, pvalue=nan, df=0.0)

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [18]:
#HO: Legendary Pokemons Stats !=  Non-Legendary Polemons Stats
#H1: Legendary Pokemons Stats =  Non-Legendary Polemons Stats
#sig = .05

In [64]:
legendary = df[(df["Legendary"] == True)]["HP"]
non_legendary = df[(df["Legendary"] == False)]["HP"]

In [66]:
st.ttest_ind(legendary, non_legendary, equal_var = False)

TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [70]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [78]:
def distance_school(row):
    distance = (row["longitude"] - (-118)**2 + (row["latitude"] - 37)**2
    return np.sqrt(distance)

def distance_hospital(row):
    distance = (row["longitude"] - (-122)**2 + (row["latitude"] - 34)**2
    return np.sqrt(distance)

df["distance_school"] = df.apply(distance_school, axis = 1)
df["distance_hospital"] = df.apply(distance_hospital, axis = 1)

SyntaxError: invalid syntax (273833265.py, line 3)

In [82]:
df["close_to_point_of_interest"] = df.apply(lambda row: min(row[distance_school"], df["distance_hospital"]) > 0.05, axis=1)

SyntaxError: unterminated string literal (detected at line 1) (4115394657.py, line 1)

In [ ]:
#H0 = mu House prices close to school or hospital >= mu Houses not close to school or hospital
#H1 = mu House prices close to school or hospital < mu Houses not close to school or hospital
#sig = .05

In [ ]:
houses_far = df["close_to_point_of_interes"] == False]["median_house_value"]
houses_close = df["close_to_point_of_interes"] == True]["median_house_value"]

In [84]:
st.ttest_ind(houses_far, houses_close, alternative = "less", equal_var = False)

NameError: name 'houses_far' is not defined