# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [13]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [16]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [17]:
HP1 = df["HP"]
HP1

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [18]:
df["HP"].mean()

69.25875

In [19]:
dragon.mean()

NameError: name 'dragon' is not defined

In [ ]:
grass.mean()

In [ ]:
dragon = df[df["Type 1"] == "Dragon"]["HP"]
grass = df[df["Type 1"] == "Grass"]["HP"]

In [ ]:
display(dragon.reset_index().head())
display(grass.reset_index().head())

In [ ]:
#HO: Dragon HP on average < Grass HP 
#H1: Dragon HP on average >= Grass HP 

#sig = .05

In [ ]:
st.ttest_ind(dragon, grass, alternative='greater')

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
df.head()

In [ ]:
df["Legendary"].unique()

In [ ]:
#HO: Legendary Pokemons Stats =  Non-Legendary Polemons Stats
#H1: Legendary Pokemons Stats =!  Non-Legendary Polemons Stats
#sig = .05

In [27]:
legendary = df[(df["Legendary"] == True)].drop(columns = ["Name", "Type 1", "Type 2", "Generation"])
non_legendary = df[(df["Legendary"] == False)].drop(columns = ["Name", "Type 1", "Type 2", "Generation"])

In [29]:
display(legendary.head())
display(non_legendary.head())

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
156   90      85      100       95      125     85       True
157   90      90       85      125       90    100       True
158   90     100       90      125       85     90       True
162  106     110       90      154       90    130       True
163  106     190      100      154      100    130       True

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
0  45      49       49       65       65     45      False
1  60      62       63       80       80     60      False
2  80      82       83      100      100     80      False
3  80     100      123      122      120     80      False
4  39      52       43       60       50     65      False

In [31]:
legendary_HP = df[(df["Legendary"] == True)]["HP"]
non_legendary_HP = df[(df["Legendary"] == False)]["HP"]

In [33]:
st.ttest_ind(legendary_HP, non_legendary_HP, equal_var = False)

TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)

In [35]:
legendary_Defense = df[(df["Legendary"] == True)]["Defense"]
non_legendary_Defense = df[(df["Legendary"] == False)]["Defense"]

In [37]:
st.ttest_ind(legendary_Defense, non_legendary_Defense, equal_var = False)

TtestResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11, df=77.7109511135786)

In [39]:
legendary_sp_atk = df[(df["Legendary"] == True)]["Sp. Atk"]
non_legendary_sp_atk = df[(df["Legendary"] == False)]["Sp. Atk"]

In [41]:
st.ttest_ind(legendary_Defense, non_legendary_Defense, equal_var = False)

TtestResult(statistic=7.637078164784618, pvalue=4.8269984949193316e-11, df=77.7109511135786)

In [45]:
legendary_sp_def = df[(df["Legendary"] == True)]["Sp. Def"]
non_legendary_sp_def = df[(df["Legendary"] == False)]["Sp. Def"]

In [47]:
st.ttest_ind(legendary_sp_def, non_legendary_sp_def, equal_var = False)

TtestResult(statistic=10.015696613114878, pvalue=2.2949327864052826e-15, df=73.2589256447719)

In [49]:
legendary_speed = df[(df["Legendary"] == True)]["Speed"]
non_legendary_speed = df[(df["Legendary"] == False)]["Speed"]

In [51]:
st.ttest_ind(legendary_speed, non_legendary_speed, equal_var = False)

TtestResult(statistic=11.47504444631443, pvalue=1.049016311882451e-18, df=81.62110995711882)

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [ ]:
def distance_school(row):
    distance = (row["longitude"] - (-118)**2 + (row["latitude"] - 37)**2
    return np.sqrt(distance)

def distance_hospital(row):
    distance = (row["longitude"] - (-122)**2 + (row["latitude"] - 34)**2
    return np.sqrt(distance)

df["distance_school"] = df.apply(distance_school, axis = 1)
df["distance_hospital"] = df.apply(distance_hospital, axis = 1)

In [ ]:
df["close_to_point_of_interest"] = df.apply(lambda row: min(row[distance_school"], df["distance_hospital"]) > 0.05, axis=1)

In [ ]:
#H0 = mu House prices close to school or hospital >= mu Houses not close to school or hospital
#H1 = mu House prices close to school or hospital < mu Houses not close to school or hospital
#sig = .05

In [ ]:
houses_far = df["close_to_point_of_interes"] == False]["median_house_value"]
houses_close = df["close_to_point_of_interes"] == True]["median_house_value"]

In [ ]:
st.ttest_ind(houses_far, houses_close, alternative = "less", equal_var = False)